*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#user{
    border-radius: 4px;
    padding: 2px 10px;
    background-image: linear-gradient(to bottom, rgb(0, 204, 255),rgb(44, 2, 84));
    color: white;
    font-weight: bold;
}
#main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
#aside{
    padding-left:0.5vw;
    height: 100%;
    width: 16vw;
    background-image: linear-gradient(to bottom,rgb(41, 40, 40), rgb(244, 176, 249) , rgb(181, 139, 249),rgb(0, 0, 0));
    border-right: 2px solid grey;
}
#aside>img{
    height: 100px;
    width: 220px;
    margin:50px 20px;
    
}
#task-completed{
    color:#0a020e;
    margin-top: 14vh;
    font-weight: bolder;
}
#task-complete-container{
    border: 1px solid black;
    margin-top: 0.5vh;
    border-radius: 1vh;
    background-color: darkgreen;
    color: rgb(255, 0, 174);
}
#logout-btn{
height: 4vh;
width: 9vw;
background-image: linear-gradient(to bottom,rgb(41, 40, 40), rgb(98, 5, 78) , rgb(98, 0, 255),rgb(0, 0, 0));
border-radius: 4px;
color: white;
position:absolute;
bottom:4vh;
left:2vw;
}
#middle-page{
    height: 100%;
    width: 84vw;
}
#header{
    width: 100%;
    height: 14%;
    background-image: linear-gradient(to right,#ff4dff,#ff33cc,#ff4dff);
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#header>img{
    height: 100px;
    width: 100px;
    margin-left: 10vw;
}
#content{
width: 100%;
height: 86%;
border: 1px solid rebeccapurple;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(200, 249, 251);
}

#table-head{
    margin-top:10vh;
    display: flex;
    gap: 1px;
}
#add-btn{
    position:absolute;
    top: 18vh;
    right: 10vw;
    height: 25px;
    width: 100px;
    background-color: rgb(8, 201, 118 ,0.2);
    color: brown;
    font-weight: bolder;
}
#task-popup{
    width: 16vw;
    height: 4vh;
    position: absolute;
    border: 2px solid green;
    border-radius: 4px;
    top: 18vh;
    right: 20vw;

}
#table-head>div{
    width: 15vw;
    height: 3.5vh;
    border: 1px solid black;
    background-color: rgb(130, 130, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}
#table-data{

    margin-top: 1px;
    display: flex;
    gap: 1px;
}
#table-data>div{
    width: 15vw;
    height: 3.5vh;
    border: 1px solid black;
    background-image:linear-gradient(to bottom,rgb(0, 64, 128), rgb(6, 43, 75));
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 245, 241);
}
.start-btn{
    color: rgb(13, 238, 13);
    font-size: 17px;
    font-weight: bold;
    
}
.start-pause-btn{
    display: flex;
    gap: 1vw;
}
.pause-btn{
    color: gold;
    font-size: 17px;
    font-weight: bold;
}
.stop-btn{
    color: red;
    font-size: 17px;
    font-weight: bold;
}
li{
    margin: 0px;
    color: rgb(76, 6, 238);
    font-weight: bold;
}